	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/02/2017 11:38
  	*/

    @font-face {
      font-family: "Flaticon";
      src: url("../fonts/Flaticon.eot");
      src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Flaticon.woff") format("woff"),
      url("../fonts/Flaticon.ttf") format("truetype"),
      url("../fonts/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
      }
    }

    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
      font-family: Flaticon;
      font-size: 20px;
      font-style: normal;
      margin-left: 20px;
    }

    .flaticon-app-repair:before { content: "\f100"; }
    .flaticon-auto-repair:before { content: "\f101"; }
    .flaticon-car-cleaner:before { content: "\f102"; }
    .flaticon-carpenter:before { content: "\f103"; }
    .flaticon-cook:before { content: "\f104"; }
    .flaticon-driver:before { content: "\f105"; }
    .flaticon-electrician:before { content: "\f106"; }
    .flaticon-home-cleaning:before { content: "\f107"; }
    .flaticon-laundry:before { content: "\f108"; }
    .flaticon-painter:before { content: "\f109"; }
    .flaticon-pandit:before { content: "\f10a"; }
    .flaticon-plumbing:before { content: "\f10b"; }